django>=3.2.14, <4.0
numpy>=1.0, <1.23.0
python-dateutil>=2.0, < 3.0
ruamel.yaml>=0.1, <1.0
scipy>=1.8.0, <2.0
numexpr>=2.8.3, <3.0
sigmf @ git+https://github.com/NTIA/SigMF.git@multi-recording-archive
its-preselector @ git+https://github.com/NTIA/Preselector@1.0.0#egg=its-preselector
